@font-face {
	font-family: Cantarell;
	src: url(/css/Cantarell-Regular.otf) format("opentype");
}

html, body {
margin: 0;
padding: 0;
font-family: Cantarell;
}

body {
	background: white url("/image/logogrey672-450.png") no-repeat right bottom;
}

#hautpage {
background: #045FB4 url("/image/logo128-170.png") no-repeat left top;
min-height: 128px;
color: white;
}

#hautpage h1 {
margin-left: 180px;
margin-top: 0;
font-family: Cantarell, arial, allura;
border-bottom: 2px solid #045fb4;
}

h2 {
font-size: 187.5%;
width: 100%;
font-weight: 400;
text-decoration: none;
height: 40px;
border-bottom: 1px solid #045fb4;
margin-bottom: 30px;  
}

h3 {
font-size: 140%;
width: 100%;
font-weight: 400;
text-decoration: none;
height: 30px;
border-bottom: 1px solid #04B404;
margin-bottom: 20px;  
}

@media (max-width: 1023px) {
	#container, #footer {
	margin-right: 10px;
	}
}

@media (min-width: 1024px) {
	#container, #footer {
	margin-right: 16%;
	}
}

@media (max-width: 820px) {
	#nav, #container, #footer {
	padding: 10px;
	border-left: 1px solid #04B404;
	margin-left: 10px;
	}
}

@media (max-width: 671px) {
	#login_username, #login_psw {
	width: 120px;
	}
	#login_signup {
	display: block;
	margin-top: 5px;
	color: #045fb4 !important;
	}
	body {
	background-size: 100vw auto;
	}
}

@media (max-width: 600px) {
	#slider {
	display: none;
	}
	#loginbox_form {
	display: none;
	}
	#loginbox_link {
	display: inline !important;
	}
}

@media (max-width: 470px) {
	#hautpage {
	background-size: 64px 64px;
	}
	#hautpage h1 {
	margin-left: 70px;
	}
	#searchtool {
	margin-left: 5px !important;
	}
}

@media (min-width: 821px) {
	#container {
	padding: 10px;
	border-left: 1px solid #04B404;
	border-bottom: 1px solid #04B404;
	margin-left: 250px;
	background-color: rgba(240,240,240,0.35);
	}

	#footer {
	padding: 10px;
	margin-left: 250px;
	}

	#nav {
	position: absolute;
	top: 138px;
	left: 10px;
	width: 220px;
	padding: 5px;
    margin-top:15px; 
	}

	#menusite {
	margin: 0;
	background-color: #045FB4;
	color: white;
	text-align: center;
	}

	.menutitle {
	background-color: #04B404;
	color: white;
	font-weight: bold;
	text-align: center;
	}

	.menusep {
	background-color: #04B404;
	height: 5px;
	}
	
	.ulmenu li {
	border-top: 1px solid #AAAAAA;
	margin-left: -40px !important;
	padding-left: initial !important;
	margin-bottom: initial !important;
	background-image: none !important;
	}

	.ulmenu li a, .ulmenu li a:visited {
	color: #003f94;
	}

	.ulmenu li a:hover {
	color: #045fb4;
	}

	#g1 {
	position: fixed;
	z-index: 5;
	bottom: 0;
	right: 96px;
	}
	#diaspora {
	position: fixed;
	z-index: 5;
	bottom: 0;
	right: 64px;
	}
	#facebook {
	position: fixed;
	z-index: 5;
	bottom: 0;
	right: 32px;
	}
	#twitter {
	position: fixed;
	z-index: 5;
	bottom: 0;
	right: 0;
	}
}

#loginbox {
text-align: right;
position: absolute;
top: 0;
right: 2px;
padding: 3px;
}

#login_submit {
margin-top: 2px;
}

#loginbox_link {
display: none;
position: relative;
top: 35px;
}

#loginbox_username {
padding-left: 2px;
padding-right: 2px;
border-radius: 4px;
background-color: white;
box-shadow: 0px 0px 4px white;
}

.hlink, #hautpage a {
color: white !important;
background-color: #045fb4;
}

.hlink:hover, #hautpage a:hover {
text-decoration: underline;
}

#menu_menu {
max-width: 220px;
}

ul {
list-style-type: none;
}

ul li {
margin-bottom: 5px;
padding-left: 24px;
background-image: url(/image/li.png);
background-position: left top;
background-repeat: no-repeat;
}

#ie {
color: black;
padding: 5px 10% 5px 10%;
position: fixed;
z-index: 4;
bottom: -45px;
left: 0;
right: 0;
opacity: 0.8;
background: linear-gradient(to bottom, #f7c497, #f7c497, #ffe2c9);
border-top: 2px dashed #045fb4;
transition-property: bottom, opacity;
transition-duration: 0.5s;
}
#ie:hover {
bottom: 0px;
opacity: 1;
}
#ie h2, #ie p {
border: none;
margin: 0;
}

#searchtool {
margin-left: 180px;
}

#searchtool_text {
border: 1px solid white;
background: white;
border-radius: 5px;
color: #045fb4;
text-decoration: none;
vertical-align: middle;
font-size: 15px;
}

#searchtool_text::placeholder {
font-family: Cantarell;
Color: #045fb4;
}

#searchtool_cat {
position: relative;
z-index: 10;
float: left;
margin-top: 1px;
}
#searchtool_cat:hover {
height: 20ch;
}

#searchtool_go {
border: 1px solid white;
background: #045fb4;
border-radius: 5px;
color: white;
text-decoration: none;
vertical-align: middle;
font-size: 15px;
}
#searchtool_go:hover {
background-color: white;
color: #045fb4;
}

#footer {
text-shadow: 0px 0px 4px white;
}

th {
	text-align: left;
	font-weight: normal;
}

.ta {
width: 100%;
height: 6em;
}

fieldset {
border: 1px solid #045fb4;
}

.software {
border-left: 2px dashed black;
padding-left: 10px;
}

.software p {
margin-top: 0;
}

.software_title {
font-size: 187.5%;
font-weight: 400;
}

.software_date {
color: #606060;
margin-left: 15px;
}

.software_hits {
color: #008000;
}

.sw_file {
background-color: #E0E0E0;
padding: 2px;
padding-left: 10px;
padding-right: 10px;
margin-top: 2px;
border-left: 2px solid #008000;
}

.sw_file td {
padding: 1px 3px 1px 3px;
}

.sw_file_link {
text-decoration: none;
}
.sw_file_link:visited {
color: blue;
}

.sw_file_hits {
float: right;
}

.sw_file_sum {
cursor: pointer;
}

#owlink {
text-decoration: none;
}
#owlink:visited {
color: blue;
}

.jrnl_date {
display: inline-block;
margin-top: 8px;
padding-left: 10px;
font-size: 165%;
width: 100%;
font-weight: 400;
text-decoration: none;
border-bottom: 1px solid #045fb4;
}
.jrnl_space {
margin-top: 16px;
}
.jrnl_sft {
color: #003f94;
font-weight: bold;
}
.jrnl_sft:hover, .jrnl_r:hover {
text-decoration: underline;
}
.jrnl_cat {
color: #04b404;
}
.jrnl_p {
margin: 0;
}

a, a:visited {
text-decoration:none;
color: #003f94;
}

a:hover, a:focus {
color: #045fb4;
text-decoration: underline;
}

input[type="button"], input[type="submit"], select, #loginbox_form input, button {
background-color: #045FB4;
border: 1px solid white;
color: white;
padding-top: 2px;
}
input[type="button"]:hover, input[type="submit"]:hover, select:hover, #loginbox_form input:hover, button:hover {
background-color: white;
border: 1px solid #045fb4;
color: #045fb4;
}

#social_share ul li {
background: none;
display: inline;
}

.comment {
border-left: 2px solid #045fb4;
border-top: 1px dashed #045fb4;
margin-top: 10px;
}
.comment_h {
background-color: rgba(0.5, 0.5, 0.5, 0.1);
}
.comment_h * {
margin-left: 5px;
}
.comment_p {
padding: 5px;
margin: 0;
}

.nobt {
margin-bottom: 0 !important;
}

.comments_btsubscription {
float: right;
background-color: #045fb4;
color: white !important;
border: 1px solid #045fb4;
padding: 2px 4px 2px 4px;
font-weight: bold;
}
.comments_btsubscription:hover {
background-color: white;
color: #045fb4 !important;
text-decoration: none !important;
}

.rk {font-weight: bold;}
.rk2 {cursor: help;}
.rk2r {
clip: rect(1px 1px 1px 1px); /* IE 6/7 */
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap; /* added line */
width: 1px;
}
.rk_a, .rk_h {color: #045fb4;}
.rk_m {color: #ff8000;}
.rk_0, .rk_1 {color: #008000;}
.rk_i {color: black;}
.rk_b {color: #808080;}
