html, body
{
background-color: #FFDFA8;
font-family: Arial, "Arial Black", Impact, Verdana, serif;
text-align: left;
font-family: Arial, Impact, Verdana, serif;
}

#logo {
text-align: center;
}

#nav a {
transition-property: background-color;
transition-duration: 0.3s;
}

#nav a:hover {
background-color: #A8A8A8;
}

#nav {
border-width:2px;
border-style:solid;
border-color:red;
background-color: #DFFFA8;
border-radius: 10px;
margin-left: 5px;
margin-right: 5px;
}

ul * {
list-style-type:none;
}

#nav * {
}

h2 {
color: purple;
text-align: center;
}

h1 {
background-color: blue;
color: white;
text-align: center;
}

title, h3, h4, h5, h6 {
text-align: center;
}